{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    {% block css %}
    
    {% endblock %}
    
    <link rel="stylesheet" href="{% static 'style.css' %}">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@100&display=swap" rel="stylesheet">
  

  </head>
  <body>
    <nav>
      <div class="logo">
      <h1 >Donate Blood</h1>

      </div>
      <ul class='links'>
        <li><a href="#">Home</a></li>
        <li><a href="{% url 'blood:bloodgroup' %}">Register BloodGroup</a></li>
        <li><a href="#">Solved Q & A</a></li>
        <li><a href="#">Find Answer</a></li>
      </ul>
      <div class="burger">
        <div class="line1"></div>
        <div class="line2"></div>
        <div class="line3"></div>
      </div>
      <div class="logout">
        <button>
            <a href=" {% url  'account:signout' %}">logout</a>
        </button>
      </div>
     
    </nav>
    
    {% for message in messages %}
    <h1 style="color:black">{{ message.error }}</h1>
    {% endfor %}
    

    {% block content %}
   
   
    {% endblock %}


    <script src="{% static 'nav.js' %}"></script>
  </body>
</html>
