{% extends 'index.html' %}
{% load static %}

{% block css %}
<link rel="preconnect" href="https://fonts.gstatic.com">
<link href="https://fonts.googleapis.com/css2?family=Poppins:wght@100&display=swap" rel="stylesheet">
    <style>
      
      input,select{

        height:30px;
        border:none;
        font-size:20px;
        border-radius:5px;
        background-color:bisque
      }
      label{
        font-size:20px;
        letter-spacing:2px;
        font-weight: 900;
        font-family: 'Poppins', sans-serif;
       
      }

    </style>
{% endblock %}

{% block content  %}

  <div class="container1">
    <div class="form-container">
        <form action="" name=" registerblood "method="POST"style="    display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: normal;
        margin-top: 1%;
        /* border-style: outset; */
        padding: 20px;height:30%;
        border: 2px solid rgba(0,0,0,0.9);
        border-radius: 10px;
        width:30%;

        margin-left:35%;
        background-color:#FBFBFB;
        @media screen  and (maxwidth:768px) {
          width:50%;
        }

      
      ">
        {% csrf_token %}
        {{ form.as_table }}
        <input type=submit value="Register" onclick="clicked()" style="background-image: linear-gradient(to left, #c61f44, #921d3a, #611a2d, #32131c, #000000);    height: 40px;
        margin: 8px;
        color: floralwhite;
        font-size: 20px;
        border: none;
        border-radius: 5px;">
        {% for m in messages %}
        <p style="text-align:center;margin-bottom: unset;color:blue;"> {{ m }} </p>
        {% endfor  %}
      </form>
    </div>
  </div>
  <script type="text/javascript">
    function clicked() {
       if (confirm('Are You Sure ?')) {
           registerblood.submit();
       } else {
           return false;
       }
    }

</script>

{% endblock %}